@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/* Body default setting */

body {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.content {
    flex: 1;
}

.container {
    padding: 20px 250px;
}

/* hero container */

.bg-dark {
    background-color: #1F2937;
    color: #F9FAF8;
}


/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .logo {
    font-size: 24px;
    font-weight: 700;
}

.header ul {
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    gap: 28px;
}

.header a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

/* hero */

.hero {
    display: flex;
    margin: 100px 0px;
    justify-content: space-between;
    align-items: center;
}

.hero-left {
    max-width: 350px;
}

.heading {
    font-size: 48px;
    font-weight: 900;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-right img {
    width: 350px;
    height: auto;
    border-radius: 10%;
    box-shadow: #F9FAF8;
}

/* Information Section */

.information-header {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.information {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 63px;
    margin: 65px 0px;
}

.info-detail {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.info-detail p {
    flex: auto;
    max-width: 150px;
    text-align: center;
}

.card {
    flex: auto;
    width: 114px;
    height: 114px;
    border: 4px solid #3882F6;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1F2937;
}

/* Testimonial */

.bg-gray {
    background-color: #E5E7EB;
}

.quote {
    display: flex;
    flex-direction: column;
}

.quote-para {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.author {
    display: flex;
    justify-content: end;
    align-items: flex-start;
}


blockquote {
    font-weight: 700;
}

.quote p {
    max-width: 850px;
    font-size: 36px;
    font-style: italic;
    font-weight: 300;
    color: #1F2937;
}

/* Call to Action */

.cta {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-box {
    margin: 64px 0px;
    width: 750px;
    height: 100px;
    border: 2px solid #3882F6;
    border-radius: 8px;
    background-color: #3882F6;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 34px;
    color: #E5E7EB;
}

.cta-left {
    max-width: 550px;
}

.cta-primary-text {
    font-weight: 600;
}

.cta-secondary {
    font-weight: 300;
}

.cta-left p {
    margin: 5px 0px;
}

/* Generic Styles */

button {
    cursor: pointer;
    background-color: #3882F6;
    color: #F9FAF8;
    padding: 5px 20px;
    border: none;
    font-weight: bold;
    border-radius: 8px;
}

.cta button {
    border: 1px solid #E5E7EB;
}

footer {
    text-align: center;
}

footer a {
    color: #F9FAF8;
}